<div style="float: left;margin-left: 10px">
	<div id = "header" style="width: 300px;">
		<div style="float: left;">
			<button type="button" class="btn btn-lg" data-toggle="collapse" data-target="#navigation">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
		</div>

		<div style="overflow:hidden;height: 50px;width: 150px; margin-left:70px;margin-top:15px;padding-top:5px;font-size: 20px">
			Tekara White
		</div>

	</div>


	<div class="collapse" id="navigation" style="width:200px;">
	    <ul class="nav">
	        <li><a href="#">Home</a></li>
	        <li><a href="#"><span>Web Resume</span></a></li>
	        <li><a href="#">Room Escape</a></li> 
	        <li><a href="#">Git Hub</a></li> 
	        <li><a href="#">Linked In</a></li>
	    </ul>
	</div>
</div>


<div style="max-width:1000px; min-width:320px; margin:auto;overflow: hidden;">
	<router-outlet></router-outlet>
</div>